@import "../../../scss/variables";

:host {
	display: block;
}

.client-form-group {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
	background: #fff;
	border-radius: 4px;
	margin-bottom: 25px;
}
.client-form-group__header {
	display: flex;
	border-bottom: 1px solid #eceaed;
	padding: 25px;

	.client-form-group__title {
		font-size: 22px;
		margin: 0;
		line-height: 1;
	}
}

.client-form-group__body {
	padding: 25px;

	> .row:last-child .form-group { margin-bottom: 0; }
}
