$font-family-sans-serif: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Colors
$base-color: #272628;
$background: #f8f8f8;

$primary-1: #7F57DB;

$gray-1: #ededed;

$border-color: #f8f8f8;

// Blue color
$blue-color: #179BFF;
$blue-color2: #2CA4FF;
