@import "../../scss/variables";

:host {
	grid-column: 1;
	grid-row: 1 / span 2;
	z-index: 100;
	background: #4e525d;
	color: #fff;
	font-family: $font-second;
}

.router-list {
	display: flex;
	flex-flow: column;
	color: #fff;
	padding: 25px;
}

.router-link {
	display: flex;
	align-items: center;
	color: inherit;
	padding: 20px 15px;
	border-bottom: 1px solid #b5b8bf;
	line-height: 1;

	.router-link__image {
		margin-right: 15px;
		flex: 0 0 18px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&:last-child { border-bottom: 0; }
}
